qtorch/build
qtorch/dist
qtorch/playground*
qtorch/demo*
qtorch/*ipynb*
qtorch/*.egg-info
qtorch/*.so
*/__pycache__
example/models/__pycache__
example/runs
example/data
example/cifar10
example/checkpoint
