qtorch/quant/dist
qtorch/playground*
qtorch/demo*
qtorch/*ipynb*
**/*/__pycache__
**/*/build
**/checkpoint
**/runs
**/*/*.egg-info
**/*/*.so
# Folder view configuration files
.DS_Store
Desktop.ini
# Thumbnail cache files
._*
.*
example/runs
example/data
**/cifar10
**/cifar100
example/checkpoint
playground/build
build
*.egg-info
dist
**/.ipynb_checkpoints
**/data
docs/source/examples
playground/
